<div class="wrapper d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
  {{#if notUser}}
  <div class="alert alert-danger" role="alert">
    {{notUser}}
  </div>
  {{/if}}
  <h1 class="display-2 m-4">Account Login</h1>
  <form method="post" action="/login" class="d-flex flex-column align-items-center">
    <div class="id">
      <input name="id" type="text" placeholder="email" class="rounded border border-dark m-4" style="width: 500px; height: 80px; font-size: 40px;">
    </div>
    <div class="passwords m-4">
      <input name="passwords" type="password" placeholder="password" class="rounded border border-dark h1" style="width: 500px; height: 80px; font-size: 40px;">
    </div>

    <button type="submit" class="btn btn-outline-success mt-5 rounded-lg"
      style="width: 200px; height: 70px; font-size: 30px;">Login</button>

  </form>
</div>